In [1]:
import pandas as pd
df = pd.read_csv('midified_horse_data.csv')
df

,name,career,last10,lwin,wins,places,tj,jh,twelveMonth,season,...,distance,trackDistance,firm,good,soft,heavy,wet,hclass,roi,is_winner
0,1. Double Spice,0.64,0.25,0.02,0.23,0.64,0.00,0.00,0.60,0.33,...,0.60,1.00,0.0,0.71,0.40,0.00,0.40,1.00,0.13,0.0
1,2. Glasgow Girl,0.39,0.17,0.06,0.21,0.39,0.00,0.00,0.14,0.00,...,0.00,0.00,0.0,0.40,0.42,0.00,0.38,0.20,0.43,0.0
2,3. Reign Of Fire,0.39,0.20,0.08,0.14,0.39,0.13,0.38,0.29,0.29,...,0.00,0.00,0.0,0.37,0.60,0.25,0.44,0.67,-0.57,0.0
3,4. Keytrade,0.37,0.33,0.50,0.16,0.37,0.08,0.50,0.60,0.50,...,0.17,0.00,0.0,0.41,0.00,0.00,0.00,0.00,0.47,1.0
4,5. Jedi Mind,0.25,0.16,0.01,0.19,0.25,0.14,0.20,0.00,0.00,...,0.33,0.00,0.0,0.20,0.20,1.00,0.33,0.25,-0.33,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3893,9. My Demi,0.33,0.18,0.01,0.13,0.33,0.10,0.00,0.00,0.00,...,0.31,0.00,0.0,0.39,0.00,0.00,0.00,0.33,-0.13,0.0
3894,10. Reign Of Fire,0.53,0.32,0.01,0.20,0.53,0.07,0.00,1.00,1.00,...,0.63,0.50,0.0,0.50,0.67,0.50,0.60,1.00,-0.51,1.0
3895,11. Trevern,0.75,0.43,0.02,0.33,0.75,0.15,0.71,1.00,1.00,...,0.75,1.00,0.0,0.70,1.00,0.00,1.00,0.00,-0.19,0.0
3896,13. Vital Blast,0.46,0.28,0.01,0.17,0.46,0.16,0.46,0.00,0.33,...,0.50,0.43,0.0,0.44,0.44,1.00,0.50,0.00,0.49,1.0
3897,12. Kallaroo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00,0.0

In [2]:
x = df.drop(columns = 'is_winner')
x

,name,career,last10,lwin,wins,places,tj,jh,twelveMonth,season,track,distance,trackDistance,firm,good,soft,heavy,wet,hclass,roi
0,1. Double Spice,0.64,0.25,0.02,0.23,0.64,0.00,0.00,0.60,0.33,0.50,0.60,1.00,0.0,0.71,0.40,0.00,0.40,1.00,0.13
1,2. Glasgow Girl,0.39,0.17,0.06,0.21,0.39,0.00,0.00,0.14,0.00,0.17,0.00,0.00,0.0,0.40,0.42,0.00,0.38,0.20,0.43
2,3. Reign Of Fire,0.39,0.20,0.08,0.14,0.39,0.13,0.38,0.29,0.29,0.18,0.00,0.00,0.0,0.37,0.60,0.25,0.44,0.67,-0.57
3,4. Keytrade,0.37,0.33,0.50,0.16,0.37,0.08,0.50,0.60,0.50,0.20,0.17,0.00,0.0,0.41,0.00,0.00,0.00,0.00,0.47
4,5. Jedi Mind,0.25,0.16,0.01,0.19,0.25,0.14,0.20,0.00,0.00,0.00,0.33,0.00,0.0,0.20,0.20,1.00,0.33,0.25,-0.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3893,9. My Demi,0.33,0.18,0.01,0.13,0.33,0.10,0.00,0.00,0.00,0.35,0.31,0.00,0.0,0.39,0.00,0.00,0.00,0.33,-0.13
3894,10. Reign Of Fire,0.53,0.32,0.01,0.20,0.53,0.07,0.00,1.00,1.00,0.20,0.63,0.50,0.0,0.50,0.67,0.50,0.60,1.00,-0.51
3895,11. Trevern,0.75,0.43,0.02,0.33,0.75,0.15,0.71,1.00,1.00,1.00,0.75,1.00,0.0,0.70,1.00,0.00,1.00,0.00,-0.19
3896,13. Vital Blast,0.46,0.28,0.01,0.17,0.46,0.16,0.46,0.00,0.33,0.36,0.50,0.43,0.0,0.44,0.44,1.00,0.50,0.00,0.49
3897,12. Kallaroo,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0.00,0.00

In [3]:
y = df['is_winner']

In [4]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)

ModuleNotFoundError: No module named 'sklearn'